[Desktop Entry]
Version=1.0.0
Type=Application
Name=XRoboToolkit-PC-Service
GenericName=XRoboToolkit-PC-Service
Exec=bash -c "cd /opt/apps/roboticsservice && ./setup.sh"
Icon=roboticsservice
Terminal=true
Categories=Office;
